.App {
  background-image: linear-gradient(to right top, #051937, #001d4e, #001e65, #181c79, #36118b);
  margin: 0;
  padding: 0;
  width: 100%;
  height:100vh;
}
.Container {
  text-align: center;
  background-image: linear-gradient(to right top, #051937, #001d4e, #001e65, #181c79, #36118b);
  margin: 0;
  padding: 0;
  width: 100%;
  height: cover;
}